<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('ChangePassword')">head('title')</head>

<body class="text-center">

<div th:replace="fragments/common :: background"/>
<nav th:replace="fragments/common :: nav_bar('ChangePassword')">navigation bar</nav>

<form class="form-signin w-75 m-auto my-5 p-5 bg-white border border-secondary rounded"
      th:action="@{/account/changePassword}" method="POST" style="max-width: 300px">
    <img class="mx-auto" src="https://drive.google.com/uc?export=view&id=1o9y1Ru-GX3ShEDk2SIUhbw9oSd00b6ug" alt="logo"
         th:src="@{/images/draw.png}" width="179" height="228">

    <h1 class="h3 mb-3 fw-normal">Change Password.</h1>

    <div th:if="${error}" th:text="${error}"
         class="alert alert-danger" role="alert">Error message.
    </div>

    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control"
           placeholder="Password is required" required="">

    <label for="inputNewPassword" class="visually-hidden">New Password</label>
    <input type="password" id="inputNewPassword" name="newPassword" class="form-control"
           placeholder="New Password is required" required="">

    <label for="inputConfirm" class="visually-hidden">Confirm</label>
    <input type="password" id="inputConfirm" name="confirm" class="form-control"
           placeholder="Confirm is required" required="">

    <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Change Password</button>


</form>
</body>

</html>