<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Login')">head('title')</head>

<body class="text-center">

<div th:replace="fragments/common :: background"/>
<nav th:replace="fragments/common :: nav_bar('Login')">navigation bar</nav>

<form class="form-signin w-75 m-auto my-5 p-5 bg-white border border-secondary rounded"
      th:action="@{/account/login}" method="POST" style="max-width: 300px">
    <img class="mx-auto" th:src="@{/images/draw.png}" width="179" height="228" alt="logo"
         src="https://drive.google.com/uc?export=view&id=1o9y1Ru-GX3ShEDk2SIUhbw9oSd00b6ug">

    <h1 class="h3 mb-3 fw-normal">Please login</h1>

    <div th:if="${error}">
        <p class="alert alert-danger" role="alert">Not Correct Input</p></div>

    <label for="inputUsername" class="visually-hidden">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control"
           placeholder="ID is required" required="" autofocus="">

    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control"
           placeholder="Password is required" required="">

    <!--REMEMBER ME!!-->
    <div class="form-group form-check my-2">
        <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
        <label class="form-check-label text-start" for="rememberMe"
               aria-describedby="rememberMeHelp">Remember me</label>
    </div>


    <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Login</button>

    <div class="container mt-2 my-1 p-1 bg-white border border-secondary rounded">
        <div class="text-center mb-2">Social Login</div>
        <a style="display: inline" th:each="url : ${urls}" th:href="${url.value}">
            <img th:src="@{${'/images/' + url.key + '.png'}}" width="34" height="34" th:alt="${url.key}"/>
        </a>
    </div>
</form>
</body>

</html>