<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('ChangePassword')">head('title')</head>

<body class="text-center">

<div th:replace="fragments/common :: background"></div>
<nav th:replace="fragments/common :: nav_bar('ChangePassword')">navigation bar</nav>

<form class="form-signin w-75 m-auto my-5 p-5 bg-white border border-secondary rounded"
      th:action="@{/account/password}" th:object="${memberDto}" method="POST" style="max-width: 300px">
    <img class="mx-auto" th:src="@{/images/draw.png}" width="179" height="228" alt="logo"
         src="https://drive.google.com/uc?export=view&id=1o9y1Ru-GX3ShEDk2SIUhbw9oSd00b6ug">

    <h1 class="h3 mb-3 fw-normal">Change Password.</h1>


    <label for="inputPassword" class="visually-hidden">Password</label>
    <input class="form-control" id="inputPassword" th:field="*{password}"
           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" type="password"
           placeholder="Password is required" required="">
    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        Password Error Message
    </div>


    <label for="inputComparePassword" class="visually-hidden">New Password</label>
    <input class="form-control" id="inputComparePassword" th:field="*{comparePassword}"
           th:classappend="${#fields.hasErrors('confirm')} ? 'is-invalid'" type="password"
           placeholder="Password is required" required="" autofocus="">


    <label for="inputConfirm" class="visually-hidden">Confirm</label>
    <input class="form-control" id="inputConfirm" th:field="*{confirm}"
           th:classappend="${#fields.hasErrors('confirm')} ? 'is-invalid'" type="password"
           placeholder="Confirm is required" required="">
    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">
        Confirm Error Message
    </div>

    <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Change Password</button>


</form>
</body>

</html>