<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Sign in')">head('title')</head>

<body class="text-center">

<div th:replace="fragments/common :: background"/>
<nav th:replace="fragments/common :: nav_bar('Sign in')">navigation bar</nav>

<form class="form-signin w-75 m-auto my-5 p-5 bg-white border border-secondary rounded"
      th:action="@{/account/register}" method="POST" style="max-width: 300px">
    <img class="mx-auto" src="https://drive.google.com/uc?export=view&id=1o9y1Ru-GX3ShEDk2SIUhbw9oSd00b6ug" alt="logo"
         th:src="@{/images/draw.png}" width="179" height="228">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div th:if="${error}" th:text="${error}"
         class="alert alert-danger" role="alert">Error message.</div>

    <label for="inputUsername" class="visually-hidden">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control"
           placeholder="ID is required" required="" autofocus="">









    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control"
           placeholder="Password is required" required="">

    <button class="w-100 mt-3 btn btn-lg btn-primary" type="submit">Sign in</button>


</form>
</body>

</html>