<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('error')">head('title')</head>

<body class="text-center">

<div th:replace="fragments/common :: background"/>
<nav th:replace="fragments/common :: nav_bar('Login')">navigation bar</nav>

<div class="form-signin w-75 m-auto my-5 p-5 bg-white border border-secondary rounded"
     style="max-width: 300px">
<!--    <img class="mx-auto" src="https://drive.google.com/uc?export=view&id=1o9y1Ru-GX3ShEDk2SIUhbw9oSd00b6ug" alt="logo"-->
<!--         th:src="@{/images/draw.png}" width="179" height="228">-->

    <div class="fs-1">ERROR</div>

    <div th:if="${error}" th:text="${error}"
         class="alert alert-danger" role="alert">Error message.</div>

</div>
</body>

</html>